.chat-main
  .main-header
    .main-header__left-box
      %h2{ class:'main-header__left-box__current-group',data:{group_id: @group.id}}
        = @group.name
      %ul.main-header__left-box__member-list
        Member:
        -@group.users.each do |user|
          = user.name
        
    =link_to "#" do
      .main-header__edit-btn Edit
  .messages
    = render @messages
    


  -# .form
  -#   = form_for [@group, @message] do |f|
  -#     = f.text_field :content, class: 'new_message', placeholder: 'type a message'
  -#     .input-box
  -#       = f.label :image, class: 'input-box__image' do
  -#         = icon('far', 'image', class: 'icon')
  -#         = f.file_field :image, class: 'hidden'
  -#     = f.submit 'Send', class: 'submit-btn'

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__text', placeholder: 'type a message'
      .form_mask
        = f.label :image, class: 'form__image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-btn'